p {
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 64px;
}

button {
  width: 128px;
  height: 64px;
  font-size: 24px;
}

table.table1 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

table.table1 th {
    padding: 10px;
    font-weight: bold;
    font-size: 21px;
    vertical-align: top;
    align: center;
    color: #fff;
    background: #ac3939;
}

table.table1 td {
    padding: 10px;
    vertical-align: top;
    align: center;
    border-bottom: 1px solid #ccc;
    background: #eee;
    font-size: 24px;
}

input[type="Text"]{
  width: 128px;
  text-align: center;
  font-size: 24px;
}

input[type="number"] {
  width: 80px;
  height: 50px;
  font-size: 30px;
}

div {
  background-color: #fff
}
