p {
  font-size: 40px;
  margin: 24px;
}

p.copyright {
  margin: 24px;
  font-size: 16px;
  text-align: center;
}

p.help {
  margin: 16px;
  font-size: 24px;
  text-align: center;
}

h2 {
  background-color: #ffffff;
  text-align: center;
  font-size: 48px;
  padding: 24px;
  margin-block-end: 0px;
}

button {
  width: 128px;
  height: 64px;
  font-size: 24px;
}

table.table1 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  padding: 24px;
}

table.table1 td.tableHeader {
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: top;
    align: center;
    color: #fff;
    background: #ac3939;
}

table.table1 td {
    padding: 10px;
    vertical-align: top;
    align: center;
    border-bottom: 1px solid #ccc;
    background: #eee;
    font-size: 28px;
}

input[type="text"] {
  width: 128px;
  text-align: center;
  font-size: 28px;
}

input[type="number"] {
  width: 80px;
  height: 50px;
  font-size: 30px;
}
